blinker==1.9.0
click==8.3.0
colorama==0.4.6
dill==0.4.0
Flask==3.1.2
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.1
jpype1==1.5.2
konlpy==0.6.0
lxml==5.4.0
MarkupSafe==3.0.3
multiprocess==0.70.18
numpy==2.3.0
packaging==25.0
pathos==0.3.4
pox==0.3.6
ppft==1.7.7
scikit-learn==1.7.0
scipy==1.15.3
threadpoolctl==3.6.0
Werkzeug==3.1.3
